<!DOCTYPE html>
<html lang="en" lang="en>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine a tu alcance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilos.css') }}">
</head>
<body>
      <div>
        <nav class="menu">
            <ul>
                <h1 style="position: center; color: aliceblue;" >El cine a tu alcance</h1>
                <br>
                <br>
                
                <li><a href="peliculas.html">Películas</a></li>
                <li><a href="peliculas.html">Series</a></li>
                <li><a href="peliculas.html">Salas</a></li>
                <li><a href="peliculas.html">Contacto</a></li>
                <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
                
            </ul>
        </nav>
    </div>
    <div class="slider-frame">
        <ul>
            <li><img src="{{ url_for('static', filename='imagenes/cinemark.jpg') }}" alt=""></li>
            <li><img src="{{ url_for('static', filename='imagenes/cineplanet.jpg') }}" alt=""></li>
            <li><img src="{{ url_for('static', filename='imagenes/cinepolis.jpg') }}" alt=""></li>
            <li><img src="{{ url_for('static', filename='imagenes/cinestart.png') }}" alt=""></li>
        </ul>
    </div>
</body>
</html>