<!DOCTYPE html>
<html lang="en" lang="en>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine a tu alcance</title>
    <link rel="stylesheet" href="estilos/estilos.css">
</head>
<body>
      
        <nav class="menu">
            <ul>
                <h1 style="position: center; color: aliceblue;" >El cine a tu alcance</h1>
                <br>
                <br>
                
                <li><a href="index.html">Inicio</a></li>
                <li><a href="peliculas.html">Películas</a></li>
                <li><a href="peliculas.html">Series</a></li>
                <li><a href="peliculas.html">Salas</a></li>
                <li><a href="peliculas.html">Contacto</a></li>
                <li><a href="templates/login.html">Login</a></li>
            </ul>
        </nav>
    <div style="margin-top: 1%; padding-left: 250px;">
        <img src="imagenes/paginaenconst.jpg" alt="peli" style=" width: 80%;">
    </div>
    </div>
</body>
</html>