* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

.slider-frame {
	width: 1000px;
    height: auto;
	margin:20px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.menu {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    transition: background 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu ul li a:focus {
    outline: none;
    background-color: #555;
    color: #fff;
}

@media (max-width: 768px) {
    .menu ul li {
        display: block;
        margin: 10px 0;
    }
}

/* login */

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin-bottom: 20px;
    color: #f7c32e;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    color: #f7c32e;
    font-size: 14px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}
button {
    background-color: #f7c32e;
    color: #000;
    border: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}
button:hover {
    background-color: #e5b220;
}
.footer a {
    color: #f7c32e;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

.popup {
    display: none; /* Inicialmente oculto */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #000;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}